/* Utilities */
.u-title {
	color: #00CCFF;
	border-bottom: 2px dashed #00CCFF;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	padding-bottom: .5em;
}
/* MainMenu */

.MainMenu {
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}
.MainMenu-list {
	margin: 0px;
	padding: 0;
}
.MainMenu-item {
	display: inline-block;
}
.MainMenu-link {
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em;
	margin-right: 1.5em;
}
/* Header */


.Header {
	margin-top: 3.75em;
	background-image:url(../images/image-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 1.5em 0;
}
.Header-imageContainer {
	margin: 0;
}
.Header-image {
	border: 5px solid white;
	border-radius: 50%;
}
.Header-name, .Header-link {
	color: white;
}
.Header-link {
	font-size: 2.2em;
	font-weight: bold;
	text-decoration: none;
}
.Header-name {
	font-size: 1.5em;
	font-weight: 300;
	margin: 0;
}
/* Profile */

.Profile {
	text-align: center;
}
.Profile-link {
	background: orange;
	color: white;
	text-decoration: none;
	padding: .5em 1em;
	border-radius: 2em;
	margin-right: .5em;
}

.Work{
	margin-top: 2em;
	text-align: center;
}

.Work-item{
	display: inline-block;
	margin-right: 1.8em;
	margin-bottom: 1.8em;
}

.work-imageContainer{
	margin:0;
}

.Work-description{
	font-size: 1.1em;
	color: #515151;
	font-style: italic
}

                        /*Footer*/

.footer{
	background-image:url(../images/-que-son-y-por-que-se-producen-las-geminidas-0.jpeg);
	margin-bottom:500px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	text-align:center;
	padding:2em 0;
	
	
	}
.footer-title{
	color:#0CF;
	margin-top:0;
	
	}
.footer-description{
	text-align:center;
	color:#03F;
	}
.footer-left{
	display:inline-block;
	width:31em;
	text-align:center;
	vertical-align:top;
	padding-right: 2em;
	
	}
.footer-item{
	display:inline-block;
	}